.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
    color: var(--color-orange-dark);
    font-size: 24px;
    margin-bottom: 10px;
}

.formGroup {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
    align-items: center;
}

.button {
    width: 100%;
    margin: 10px auto;
    display: block;
    max-width: 80px;
    padding: 5px;
    background-color: var(--color-blue);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-orange-dark);
}

.input {
    width: 240px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.link {
    color: var(--color-blue);
    text-decoration: none;
    font-size: 14px;
}

.backLink {
    color: var(--color-blue);
    text-decoration: none;
    font-size: 14px;
    align-self: flex-start;
    cursor: pointer;
    margin-bottom: 10px;
}

.footerText {
    font-size: 14px;
    margin-top: 10px;
}

.showPassword {
    margin-left: 40px;
    cursor: pointer;
}

.showPasswordLabel {
    margin-left: 10px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 14px;
}
